<div class="container">
  <div class="row">
    <label>รายการ</label>
    <div style="margin-top: 30px; margin-bottom: 30px;">
      <select  style="width: 90px; margin-left: 25px;" name="status" [(ngModel)]="status" (ngModelChange)="searchByStatus()" >
        <option  selected="selected">{{this.statuses[0].status}}</option>
        <option >{{this.statuses[1].status}}</option>
      </select>
    </div>
    <div style="margin-top: 50px;" style="text-align: center;">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">#</div>
          <div class="col col-2">Name</div>
          <div class="col col-3">Address</div>
          <div class="col col-4">date</div>
          <div class="col col-5">Total</div>
          <div class="col col-6">Status</div>
          <div class="col col-7">information</div>
        </li>

        <li class="table-row" *ngFor="let list of this.order; ">
          <div class="col col-1">{{list.id}}</div>
          <div class="col col-2">{{list.name}}</div>
          <div class="col col-3"> {{list.address}}</div>
          <div class="col col-4">{{list.date}}</div>
          <div class="col col-5">{{list.total+15}}</div>
          <div class="col col-6" *ngIf="list.status=='จัดส่งแล้ว'" style="background-color: rgb(79, 237, 47); border-radius: 5px;">
            {{list.status}}
          </div>
          <div class="col col-6" *ngIf="list.status=='ยังไม่ส่ง'" style="background-color: rgb(60, 47, 197); border-radius: 5px; color: white;">
           {{list.status}}
          </div>

            <div class="col col-7" style="text-align: center;">
              <button (click)="getId(list)" [routerLink]="['/firstpage', { outlets: { shopoutlet: ['information']} }]">
              <img style="width: 25px;" src="https://cdn-icons-png.flaticon.com/512/545/545674.png" alt="">
            </button>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
