<div style="display: flex; flex-direction: column;
height: 178px; width: 230px; margin: 20px; text-align: center;">
  <p style="font-size: 25px;">proceed?</p>
  <p style="font-size: 18px;">ดำเนินการต่อหรือไม่</p>
  <span style="padding: 5px; margin: 5px;">
    <button style="padding: 5px; margin: 5px; text-align: center;" routerLink="/checkout" [mat-dialog-close]="true">confirm</button>
    <button style="padding: 5px; margin: 5px; text-align: center;" [mat-dialog-close]="true">cancel</button>
  </span>

</div>
