<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <h2 class="card-title text-center">Register</h2>
        <div class="card-body py-md-4">

          <form #signUpownerForm="ngForm" (ngSubmit)="signUpOwner()">
            <div class="form-group">
              <input type="text" class="form-control" [ngClass]="{'is-invalid':name.touched && name.invalid}" id="name" placeholder="Name" name="name" #name="ngModel" [(ngModel)]="model.name" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" [ngClass]="{'is-invalid':phone.touched&& phone.invalid}" id="phone" placeholder="Phone" name="phone" #phone="ngModel" [(ngModel)]="model.phone" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" [ngClass]="{'is-invalid':email.touched&& email.invalid}" id="email" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="model.email" required email>

            </div>
            <div class="form-group">
              <input type="password" class="form-control" [ngClass]="{'is-invalid': password.touched && password.invalid}" id="password" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="model.password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [ngClass]="{'is-invalid': conpassword.touched && conpassword.invalid}" id="confirm-password" placeholder="confirm-password" name="conpassword" #conpassword="ngModel" [(ngModel)]="model.conpassword" required>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-between">
              <button class="btn btn-primary" routerLink="/owner">Login</button>
              <button class="btn btn-primary" [disabled]="signUpownerForm.invalid">Create Account</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
